# 设置国内淘宝镜像源，加快下载速度
registry= https://registry.npmjs.org/

# 幽灵依赖提升（可选）：
# pnpm 默认严格隔离未定义的依赖。如果你发现某些第三方库（如旧版 LangChain）
# 隐式依赖了某些包导致报错，可以开启羞耻提升（Shamefully Hoist）
shamefully-hoist=true

ignore-workspace-root-check = true
# 强制将所有依赖包扁平化提升到 node_modules 根目录（不推荐，除非遇到顽固的老旧库兼容问题）
# hoist-pattern[]=*